/* PH WORKS MEDIAS */
#photo-works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 2.8125rem 0;
	padding: 0 1.25rem;
}

.btn-like {
	background: none;
	border: none;
	color: #901c1c;
	font-size: 1.1rem;
	margin-left: -0.3rem;
}

.photo-work-elt {
	color: #901c1c;
	font-size: 1.1em;
	font-weight: 500;
	margin: 0 0 0.625rem;
	width: 20.9375rem;
}

.photo-work-elt .fa-heart:hover,
.photo-work-elt img:hover,
.photo-work-elt video:hover {
	cursor: pointer;
}

.photo-work-elt video::-webkit-media-controls {
	display: none;
}

.photo-work-elt .ph-work-title {
	width: 14.0625rem;
}

.photo-work-elt img,
.photo-work-elt video {
	border-radius: 0.3125rem;
	height: 11.875rem;
	object-fit: cover;
	width: 20.9375rem;
}

.photo-work-elt-text {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}

.photo-work-title {
	font-size: 1em;
	font-weight: 400;
}

@media (min-width: 1300px) {
	#photo-works {
		justify-content: space-between;
		margin: 2.8125rem 6.25rem;
		padding: 0;
	}

	.photo-work-elt {
		width: 21.875rem;
	}

	.photo-work-elt img,
	.photo-work-elt video {
		height: 18.75rem;
		width: 21.875rem;
	}
}
