/* header */
h1 {
	color: #901c1c;
	font-family: "DM Sans", sans-serif;
	font-size: 14px;
	width: fit-content;
}

header {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: 2rem;
	overflow: hidden;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	left: 0;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 90px;
}

header img {
	width: 8rem;
}

#container {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}
