/* section photographes */
.articlePh {
	margin: 1px 5.69%;
	padding: 0.3rem;
	text-align: center;
	width: 22rem;
}

.articlePh a {
	text-decoration: none;
}

.location {
	color: #901c1c;
	margin: 0.2rem;
}

.name {
	color: #d3573c;
	font-size: 1.7rem;
	margin-bottom: 0.7rem;
}

.price {
	color: #757575;
	margin: 0;
}

.tagline {
	margin: 0;
}

section img {
	background-color: #59ce26;
	border-radius: 50%;
	box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
	height: 12.5rem;
	margin: 0 auto;
	object-fit: cover;
	overflow: hidden;
	width: 12.5rem;
}

section img:hover {
	box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
	cursor: pointer;
	transform: scale(1.05);
}

main > a {
	background: #db8876;
	border-radius: 0.3125rem;
	color: #000;
	display: none;
	flex-wrap: nowrap;
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	left: 0;
	margin: 0 auto;
	padding: 5px;
	position: fixed;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 2%;
	width: 182px;
	z-index: 1;
}

main > a:hover {
	background: #901c1c;
	color: #fff;
}

.tagsLinkElement {
	text-decoration: none;
}

.tagsLinkElement.actived li {
	color: #fff;
	background-color: #901c1c;
}

.tagsLinkElement:focus,
.tagsLinkElement:hover {
	color: #fff;
}

.tagSection ul {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	padding: 0px;
}

.tagSection ul li:hover {
	background-color: #901c1c;
	color: #fff;
}

#container {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 5rem;
	margin-top: 5rem;
}
